
////////////////////////////////////////////////////////////////////////////////
// Snipcart on-page snipcart-related (snipcart component)
////////////////////////////////////////////////////////////////////////////////

.snipcart-wrapper {
  height: 3rem;
  &.snipmobile {
    position: absolute;
    top: 0;
    right: 0;
    @include breakpoint($size-lg) {
      display: none;
    }
  }
  &.snipdesktop {
    display: none;
    @include breakpoint($size-lg) {
      display: inherit;
      text-align: center;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

//
// Account/Login
//
// .snipcart-account-login {
//   float: left;
//   height: 100%;
//   margin-right: 16px;
//   margin-right: .5rem;
//   a {
//     color: $pink;
//     @include font-size($font-base);
//     text-decoration: none;
//     &:hover {
//       text-decoration: none;
//       color: $black;
//     }
//   }
//   .snipcart-user-email {
//     font-weight: $font-weight-regular;
//     height: 100%;
//     padding-top: 12px;
//     padding-top: .75rem;
//   }
// }

//
// Button: Cart & Cart Items Count
//
.snipcart-cart-and-count {
  height: 100%;
  width: 130px;
  width: 9.5rem;
  font-weight: $font-weight-regular;
  a {
    text-decoration: none;
    @include font-size($font-tiny-plus);
  }
  .snipcart-cart {
    //
    // Before applying Background, set height 100% so background is visible
    //
    height: 100%;
    // Background
    background: url(../../images/shopping-cart-pink.svg);
    background-repeat: no-repeat;
    background-size: 32px auto;
    background-size: 2rem auto;
    // First value is x-position (horizontal), second is y-value (vertical)
    background-position: 15px center;
  }
  .snipcart-summary {
    height: 100%;
    float: right;
    padding-top: 12px;
    padding-top: .9rem;
    padding-right: 15px;
    color: $pink;
  }
}