
////////////////////////////////////////////////////////////////////////////////
// Menu Header (component)
////////////////////////////////////////////////////////////////////////////////

header .menu-list {
  display: none;
  @include breakpoint($size-lg) {
    display: flex;
    justify-content: center;
    margin-top: .5rem;
    a {
      // link takes full width of li
      color: $color3;
      text-decoration: none;
      margin-left: 1rem;
      margin-right: 1rem;
      // margin-bottom: 1rem;
      &:hover {
        // Required to prevent hero image from moving
        margin-top: -1px;
        color: $pink;
        font-weight: bold;
      }
    }
    .logo a:hover {
      border-bottom: none;
    }
  }
}

.sub-menu {
  @include breakpoint($size-lg) {
    display: none;
  }
}
