
////////////////////////////////////////////////////////////////////////////////
// Header (region component)
////////////////////////////////////////////////////////////////////////////////

//
// Header
.header {
  font-weight: $font-weight-light;
  width: 100%;
}

//
// Header Inner
.header-inner {
  border-bottom: 1px solid $gray5;
  // Mobile
  .hamburger-and-cart__mobile {
    background: $color3;
    height: 3rem;
    @include breakpoint($size-lg) {
      background: none;
      float: right;
      height: 0;
      padding: 0;
    }
    @include breakpoint($size-2x) {
      background: none;
      float: none;
    }
    .hamburger {
      padding: .9rem 0 0 .9rem;
      @include breakpoint($size-lg) {
        display: none;
      }
    }
    .hamburger-inner {
      @include breakpoint($size-lg) {
        display: none;
      }
    }
  }
  // Wide
  .logo-nav-cart {
    margin: 0 auto;
    padding: .25rem 0 .5rem 0;
    max-width: 1000px;
    // Logo //
    .logo {
      display: block;
      max-width: 70%;
      margin: 0 auto; // center 
      @include breakpoint($size-sm-2) {
        max-width: 50%;
      }
      @include breakpoint($size-lg) {
        // set width using susy grids
        @include span(4 at 2 of 10);
      }
      a  {
        display: block;
      }
    }
    // Nav-and-Cart //
    .nav-and-cart {
      // center the cart-and-count
      .snipcart-cart-and-count {
        display: inline-block;
      }
      @include breakpoint($size-lg) {
        padding-top: .5rem;
        // set width using susy grids
        @include span(4 at 7 of 10);
      }
    }
  }
}

//
// Header Misc
.header-transparent .header:not(.scrolled) {
    background: none;
}

//
// Hamburger Active 
.hamburger.is-active ~ .logo-nav-cart {
  margin-top: 2.8em;
}
