
////////////////////////////////////////////////////////////////////////////////
// Snipcart: Modal (snipcart component)
////////////////////////////////////////////////////////////////////////////////

// Thumbnail image
.snip-layout .snip-product__thumbnail {
  display: block; // snipcart default is display non until larger breakpoint
  width: 120px;
  height: auto;
}
// Powered by Snipcart
#snipcart-footer {
  display: none;
}
// Title areas "My Cart"
.snip-layout .snip-header__title {
  font-size: 14px;
  color: $color2;
  left: 1.25em;
  line-height: 105px;
}
// Subtotal
.snip-layout #snipcart-amount {
  color: $color2;
}

//Buttons
.snipcart-cart-button--highlight,
.snipcart__box--badge-highlight {
  background-image: linear-gradient(90deg,#B20F0F,#CD6667);
}

//Continue shopping arrow path
.snipcart__icon--blue-light path {
  fill: #B20F0F;
}

//Invoice #
.snipcart-order__invoice-number--highlight {
  color: #CD6667;
}