////////////////////////////////////////////////////////////////////////////////
// Base Styles
////////////////////////////////////////////////////////////////////////////////
a {
  color: $pink;
  font-weight: 600;
  &:hover {
    color: $gold;
    text-decoration: none;
  }
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;

    i {
      font-size: 1rem;
    }
}

img {
  max-width: 100%;
}

// Modify how base of bootstrap mb-5 column behaves
.mb-5 {
  margin-bottom: 0 !important;
}
