.snipcart-summary {
	color: #E9A041;
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
	// @media only screen and (min-width: $sizeL) {
	// 	text-align: right;
	// }
}

.cart-logo {
	display: inline-block;
}

.cart-logo img {
	float: left;
	max-width: 2rem;
	padding-right: .5rem;
}