.asterisk {
  font-size: 0.9rem;
  margin-top: 0;
  margin-bottom: 0;
}

#payment-methods {
  width: 80%;
}

////////////////////////////////////////////////////////////////////////////////
// Homepage Hero Img
////////////////////////////////////////////////////////////////////////////////
.hero-image {
  background-image: url('/user/pages/01.home/earringhappiness-golden-background-desktop-min.png');
  background-position: bottom;
  background-repeat: no-repeat;
  padding: 4rem;
  @media only screen and (max-width: $size-xs) {
    padding: 2rem;
  }
  
  h1 {
    font-size: 4rem;
    font-family: "Pacifico";
    text-align: center;
    padding-top: 1.5rem;
    line-height: 3.7rem;
    @media only screen and (max-width: $size-xs) {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  h2 {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 0;
    @media only screen and (max-width: $size-xs) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
// Homepage Articles
////////////////////////////////////////////////////////////////////////////////
a.expand {
  cursor: pointer;
  color: $pink !important;
  &:hover {
    color: $gold !important;
  }
}

.article-title {
  margin-top: .75rem;
  font-size: 1rem;
  @media only screen and (min-width: $size-xl) {
    font-size: 1.1rem;
  }
}

.article-contents {
  display: none;
}

////////////////////////////////////////////////////////////////////////////////
// Testimonials
////////////////////////////////////////////////////////////////////////////////
.quote {
  font-family: 'Alex Brush';
  font-size: 2.5rem !important;
  color: $gold;
  text-align: center;
  margin-top: 2rem;
  @media only screen and (min-width: $size-xl) {
    font-size: 3rem !important;
  }
}