////////////////////////////////////////////////////////////////////////////////
// Header
////////////////////////////////////////////////////////////////////////////////
.header_logo {
  transform: translateX(-50%);
  left:50%;
  top: 1%;
  position: absolute;
  max-width: 50%;
  @media only screen and (min-width: $sizeSM) {
    max-width: 40%;}
  @media only screen and (min-width: $sizeL) {
    max-width: 30%;}
}

.header_menu {
  margin-bottom: 1rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: $sizeXS) {
    margin-top: 5rem;}
  @media only screen and (min-width: $sizeS) {
    margin-top: 6rem;}
  @media only screen and (min-width: $sizeML) {
    margin-top: 7rem;}
  @media only screen and (min-width: $sizeL) {
    margin-top: 8rem;}
  @media only screen and (min-width: $sizeXL) {
    margin-top: 10rem;}
}

.header_menu a {
  color: black;
  margin-left: .5rem;
  margin-right: .5rem;
  font-size: 1rem;
  font-weight: 300;
  @media only screen and (min-width: $sizeSM) {
    font-size: 1.25rem;
  }
}

.header_menu a:hover {
  color: $pink;
}

////////////////////////////////////////////////////////////////////////////////
// Override Theme Defaults
////////////////////////////////////////////////////////////////////////////////
section.header-inner {
  border-bottom: none;
}
