////////////////////////////////////////////////////////////////////////////////
// Colors
////////////////////////////////////////////////////////////////////////////////
$pink: #CC6666;
$gold: #CC9933;
$olive: #669933;
$gray1: #E6E6E6; //light gray
$gray2: #f4f4f4; // lighter gray
$gray3: #f2f2f2; // lightest gray


////////////////////////////////////////////////////////////////////////////////
// Breakpoints
////////////////////////////////////////////////////////////////////////////////
$sizeXS: 480px !default;
$sizeS: 600px !default;
$sizeSM: 768px !default;
$sizeM: 840px !default;
$sizeML: 960px !default;
$sizeL: 1200px !default;
$sizeXL: 1440px !default;
