////////////////////////////////////////////////////////////////////////////////
// Breakpoints
////////////////////////////////////////////////////////////////////////////////
$sizeXS: 480px !default;
$sizeS: 600px !default;
$sizeSM: 768px !default;
$sizeM: 840px !default;
$sizeML: 960px !default;
$sizeL: 1200px !default;
$sizeXL: 1440px !default;
