
////////////////////////////////////////////////////////////////////////////////
// Page Title (component)
////////////////////////////////////////////////////////////////////////////////

.page-title {
  background: $gray1;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  h1,h2,h3,h4,h5,h6 {
    font-weight: $font-weight-bold;
    @include font-size($font-xlarge);
    color: $pink;
    margin: 0;
    padding: .3rem 0;
  }
}
