{% extends 'partials/base.html.twig' %}
{% set collection = page.collection() %}

{# Layout Class for <body> #}
{% set body_layout = 'layout-shop' %}
{% block body_layout %}{{ body_layout }}{% endblock %}
{# End: Layout Class for <body> #}


{% block content %}
  <section id="main-wrapper">
    <section id="main">
      {# Title #}
      <div class="page-title"><h1>{{ page.title }}</h1></div>


      <main id="main-content">
        <p style="text-align: center; margin-top: 0; margin-bottom: 0; font-size: 1rem; line-height: 1.4;">The quantity for each pair is <strong>always just one</strong></p>
        <p style="text-align: center; font-size: 1rem; margin-top: 0; color: #CD6667; line-height: 1.4;">Free shipping on all orders</p>

        {# Shop Navigation Include #}
        {% include 'shop/navigation.html.twig' %}

        {# Shop-list Include #}
        <div class="product-teasers clearfix" id="all-products">
        {# Filter #}
        {# <div style="text-align: left; font-size: .8rem; font-weight: 300;">&nbsp;&nbsp;&nbsp;Filter:&nbsp;&nbsp;<span id="on-sale"><a>Sale Only</a></span>&nbsp;&nbsp;<span id="show-all"><a>Show All</a></span></div> #}
        {% for child in collection %}
          {% include 'shop/product-teaser.html.twig' with {shop: page, page: child} %}
        {% endfor %}
        </div>

      </main>
    </section>
  </section>
{% endblock %}
