<!-- Footer Region 2: Full Width -->
<div id="region-footer-2" class="col paragraph paragraph--type--text-image clearfix margin-auto__right-left contain-inner__sm text-align__center">
  <div class="inner">
    <div class="body">
      <div class="packaging">
        <p style="font-family: Pacifico;color: #669933; font-size: 1.5rem; margin-bottom: 0; line-height: 2.5;">Sustainable Packaging</p>
        <p style="font-size: 1rem; margin-top: 0; line-height: 1.1; font-weight: 200;">To reduce waste and show respect for our environment, we do our best to send our products to you with the least amount of packaging.</p>
      </div>
    </div>
  </div>
</div><!--  End Footer Region 2: Full Width -->

<!-- Footer Region 3 -->
<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner columns">
     <!-- Footer Column 1 -->
     <div class="col-xxs-12 col-md-2">
      <p><a class="expand" href="/shipping-and-returns"><strong>Shipping & Returns</strong></a></p>
      <img id="payment-methods" src="/user/themes/bodigiti/images/accepted-payments-300.png" />
     </div><!-- End Footer Column 1 -->
      
      <!-- Footer Column 2 -->
      <div class="col-xxs-12 col-md-8">
        <p style="margin-bottom: 0;"><strong>Custom Orders</strong></p>
        <p style="margin-bottom: 0; margin-top: 0;">Only $29 + free shipping</p>
        <a class="expand" href="/contact"><b>ORDER NOW</b></a>
      </div><!-- End Footer Column 2 -->

      <!-- Footer Column 3 -->
      <div class="col-xxs-12 col-md-2">
       <p style="margin-bottom: 0;"><strong>Find Us</strong></p>
       <a href="https://www.facebook.com/pg/RLoveHBrand/shop/" style="margin: 0 auto;"><img class="fb-icon" src="/user/themes/bodigiti/images/fb-icon-pink-round.png" alt="Pink Facebook icon for RLoveH Shop"></a>
      </div><!-- End Footer Column 3 -->

      <div id="local-info-nap-etc" class="block col-xxs-12">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
        <div itemprop="name" class="nap-name">Earring Happiness</div>
        <link itemprop="url" href="https://earringhappiness.com/">

        <link itemprop="hasMap" href="https://goo.gl/maps/saqfUkGKW172">
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="nap-full-address">
        <div itemprop="streetAddress" class="nap-street">1650 Margaret St. Ste 302 #180</div>
        <div class="nap-pipe-break">|</div>
        <div class="nap-city-state">
        <span itemprop="addressLocality">Jacksonville &nbsp;</span>
        <span itemprop="addressRegion">FL&nbsp;<span itemprop="postalCode" class="nap-zip">32204</span></span>
        </div>
        
        <a itemprop="telephone" href="tel:+1904-256-9226" class="nap-phone">(904) 256-9226</a>
        </div>

        <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
          <meta itemprop="latitude" content="30.311220">
          <meta itemprop="longitude" content="-81.681170">
        </span>
        </div>
      </div>

      <div class="copyright" style="margin-top: 0;">&copy; 2019 Earring Happiness by RLoveH | All rights reserved | Website designed by <a href="https://bodigiti.com/">Bodigiti</a></div>
    </div>
  </div>
  <!---- CUSTOMIZED API FIELDS AND LABELS for LICCSC; include Snipcart resource file -->
  <!-- <script type="text/javascript" src="/js/en.js"></script> -->
  {# <script>Snipcart.execute('registerLocale', 'en', {
    "cart_empty_text":
      "The cart is now empty. Close this box to return to the website.",	
    });
  </script> #}
</section><!-- End Footer Region 3 -->