<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">

     <!-- Footer Column 1 -->
     <div class="col-md-4 text-center">
      <p><a href="/shipping-and-returns" style="font-weight: bold;">Shipping & Returns</a></p>
      <img src="/user/themes/bodigiti/images/accepted-payment-methods-300x34.png" />
     </div><!-- End Footer Column 1 -->
      
      <!-- Footer Column 2 -->
      <div class="col-md-4 text-center">
       <p style="margin-bottom: 0;"><strong>Custom Orders</strong></p>
       <p style="margin-bottom: 0; margin-top: 0;">Custom RLoveH earrings<br><b>only $39 + free shipping</b></p>
       <a style="color: #CC9933;" href="/contact">Order now</a>
      </div><!-- End Footer Column 2 -->

      <!-- Footer Column 3 -->
      <div class="col-md-4 text-center">
       <p style="margin-bottom: 0;"><strong>Find Us</strong></p>
       <a href="https://www.facebook.com/pg/RLoveHBrand/shop/" style="margin: 0 auto;"><img class="fb-icon" src="/user/themes/bodigiti/images/fb-icon-pink-round.png" alt="Pink Facebook icon for RLoveH Shop"></a>
      </div><!-- End Footer Column 3 -->

      <div id="local-info-nap-etc" class="block">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
        <div itemprop="name" class="nap-name">Mailing Address:</div>
        <link itemprop="url" href="https://earringhappiness.com/">

        <link itemprop="hasMap" href="https://goo.gl/maps/saqfUkGKW172">
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="nap-full-address">
        <div itemprop="streetAddress" class="nap-street">1650 Margaret St. Ste 302 #180</div>
        <div class="nap-pipe-break">|</div>
        <div class="nap-city-state">
        <span itemprop="addressLocality">Jacksonville &nbsp;</span>
        <span itemprop="addressRegion">FL&nbsp;<span itemprop="postalCode" class="nap-zip">32204</span></span>
        </div>
        
        <a itemprop="telephone" href="tel:+1904-256-9226" class="nap-phone">(904) 256-9226</a>

        </div>
        <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="30.311220">
        <meta itemprop="longitude" content="-81.681170">
        </span>
        </div>
        </div>

      <p style="margin-top: 0;">Copyright &copy; 2019 Earring Happiness by RLoveH All rights reserved.  |  Website designed by <a href="https://bodigiti.com/" style="font-weight: bold;">Bodigiti</a></p>
    </div>
  </div>
</section>