<section id="footer" class="section">
  <div class="contain-outer margin-left-right__xs-plus">
    <div class="inner">
      <div class="block"><p><a href="/shipping-and-returns" style="color: #CC3333; font-weight: bold;">Shipping & Returns</a></p></div>
      <img src="/user/themes/bodigiti/images/accepted-payment-methods-300x34.png" />
      <div id="local-info-nap-etc" class="block">
        <div itemscope="" itemtype="http://schema.org/LocalBusiness">
        <div itemprop="name" class="nap-name">The Drawings of Alice Magolo</div>
        <link itemprop="url" href="http://earthsourcejax.com/">

        <link itemprop="hasMap" href="https://goo.gl/maps/saqfUkGKW172">
        <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" class="nap-full-address">
        <div itemprop="streetAddress" class="nap-street">123 Street Address</div>
        <div class="nap-pipe-break">|</div>
        <div class="nap-city-state">
        <span itemprop="addressLocality">Jacksonville</span>
        <span itemprop="addressRegion">FL</span>
        </div>
        <div itemprop="postalCode" class="nap-zip">322XX</div>
        <a itemprop="telephone" href="tel:+1904-XXX-XXXX" class="nap-phone">(904) XXX-XXX</a>

        </div>
        <span itemprop="geo" itemscope="" itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="30.4509762">
        <meta itemprop="longitude" content="-81.6392894">
        </span>
        </div>
        </div>

      <p class="">Copyright &copy; 2018. All rights reserved.  |  Website designed by <a href="https://bodigiti.com/" style="color: #CC3333; font-weight: bold;">Bodigiti</a></p>
    </div>
  </div>
</section>
