<header class="header clearfix" role="banner">
    <section class="u-container-lg clearfix">
        <section class="header-inner clearfix">
          <section class="hamburger-and-cart__mobile">
            <a href="#" class="hamburger u-visible-mobile js-toggle-menu">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </a>
            {% block header_login_and_cart %}
              <div class="snipcart-wrapper snipmobile">
                {% include 'shop/cart.html.twig' %}
              </div>
            {% endblock %}
          </section>
          <section class="logo-nav-cart menu-default clearfix">
            <div class="logo">
              <a href="{{ home_url }}" class="navbar-brand mr-10 text-decoration--none">
              <img src="/user/themes/bodigiti/images/logo-earring-happiness-min.png"/>
              </a>
            </div>
            {% block header_navigation %}
            <section class="nav-and-cart">
              <nav>
                <ul class="menu-list">
                  {% include 'partials/navigation.html.twig' %}
                </ul>
              </nav>
              {% block header_login_and_cart_for_menu %}
                <div class="snipcart-wrapper snipdesktop">
                  {% include 'shop/cart.html.twig' %}
                </div>
              {% endblock %}
            </nav>
            {% endblock %}
          </section>
          {% if config.plugins.login.enabled and grav.user.username %}
            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
          {% endif %}
        </section>
    </section>

</header>
