.product-categories-grid {
  margin-top: -1rem;
  .paragraph {
    @include breakpoint($size-md) {
      padding-right: 1rem;
      padding-left: 1rem;
      padding-bottom: 1rem;
    }
  }
  p {
    margin-bottom: 0;
  }
}
