////////////////////////////////////////////////////////////////////////////////
// Go To Top Button
////////////////////////////////////////////////////////////////////////////////
#goToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99; // Make sure it does not overlap
  border: none;
  outline: none;
  background-color: $color4;
  color: white;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}

#goToTop:hover {
  background-color: $color3;
}
